# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Lambda deployment artifacts
aws/lambda/ml_inference/package/
aws/lambda/ml_inference/lambda_lightweight/
aws/lambda/ml_inference/*.zip